.etutor-form-label {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-dark-slate);
  user-select: none;
}

.etutor-form-label-required {
  color: var(--color-danger-primary);
}
